@font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/ubuntu.ttf') format('truetype');
    
}

/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Body style */
body {
    background-color: #ffffff;
    font-family: 'MinhaFonte';
    flex-direction: row;
    min-height: 100vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pseudo-body {
    align-items: center;
    justify-content: center;
    display: flex;
}

.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    height: 40px; 
    width: 100vw;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    -webkit-app-region: drag;
}

.div-icon {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Estilo para o container do ícone e título */
.title {
    display: flex;
    align-items: center;
    color: black;
    font-size: 14px;
}

/* Estilo do ícone do aplicativo */
.div-icon img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Estilo do título */
.div-title p {
    margin: 0;
    font-weight: 500;
}

/* Settings gear icon */
.configs {
    position: absolute;
    left: 0px;
    top: 37px;
    width: 20px;
    height: 20px;
    margin: 6px 8px;
    -webkit-app-region: no-drag;
}

.configs img {
    width: 20px !important;
    height: 20px !important;
    display: block;
    cursor: pointer;
    opacity: 0.6;
}

/* Estilo dos botões (minimizar e fechar) */
.buttons {
    display: flex;
    align-items: center;
}
.buttons img {
    width: 16px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

/* Efeito hover para os botões */
.buttons img:hover {
    opacity: 0.7; /* Muda a opacidade no hover */
}

/* Área de clique dos botões (label em torno dos ícones) */
.button-wrapper {
    width: 30px;  /* Aumenta a área clicável */
    height: 30px; /* Aumenta a área clicável */
    display: flex;
    justify-content: center;  /* Centraliza o ícone horizontalmente */
    align-items: center;      /* Centraliza o ícone verticalmente */
    cursor: pointer;
    -webkit-app-region: no-drag;
}


label#close-btn {
    margin-left: 10px;
}

/* Efeito hover para a área de clique */
.button-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Efeito visual ao passar o mouse */
}


/* Main container */
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

label {
    width: 100%;
}

/* Upload Section */
.upload-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.upload-area:hover {
    border-color: #007bff;
}
.upload-area:hover p {
    color: #007bff;
}

.div-p {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    height: 47px;
    color: gray;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.div-p p {
    width: 100%;
    text-align: center;
}   


.upload-area img {
    max-width: 25%;
    /* Limita o tamanho máximo da imagem a 25% da largura da div */
}

/* Options block */
.options-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.destination-fps-inputs,
.subtitle-quality-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.info-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 8%;
    min-width: 20px;
}

.info-icon-container img {
    width: 100%;
    opacity: 70%;
    cursor: pointer;
}

/* Progress status */
.progress-status {
    flex-direction: column;
    visibility: hidden;
    width: 230px;
    background-color: white;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: #ccc solid 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.progress-status p {
    text-align: center;
    color: gray;
    font-size: 15px;
    margin: 10px;
}

.progress-status img {
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}

/* Subtitle extraction */
.subtitle-extraction {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 5px;
}

.subtitle-extraction input {
    margin-right: 5px;
}

.subtitle-extraction label {
    color: gray;
    font-size: 15px;
}

/* Consolidated input styles */
input[type="text"],
input[type="number"] {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    margin: 5px;
    text-align: center;
    font-family: 'MinhaFonte';
    font-size: 15px;
    border: none;
    /* Remove todas as bordas */
    border-bottom: 2px solid #ccc;
}

/* Button container */
.generate-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generate-button-container button {
    width: 100%;
    font-family: 'MinhaFonte';
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

.generate-button-container button:active {
    background-color: #0056b3;
    box-shadow: 0 0 0 5px #3b83f65f;
}