@font-face {
    font-family: 'MinhaFonte';
    src: url('ubuntu.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'MinhaFonte';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    width: 100%;
}

.upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #ccc;
    cursor: pointer;
    border-radius: 15px;
}

.upload-section img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    opacity: 80%;
    z-index: 1;
}

.upload-section p {
    margin-top: 10px;
    color: gray;
    font-size: 14px;
}

.options-section {
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.path {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.path p {
    margin-right: 10px;
}

.check-box {
    display: flex;
    align-items: center;
}

.check-box input[type="checkbox"] {
    cursor: pointer;
    margin-right: 10px;
}

.settings-section {
    display: flex;
    justify-content: space-between;
}

.question img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.info {
    min-width: 350px;
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    z-index: 1;

    font-size: 14px;
    font-weight: 400;
    color: gray
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.setting input {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #0056b3;
}

.upload-section:hover {
    border-color: #007bff; /* Deixa a borda azul */
    transition: 200ms;
}

.upload-section:hover p {
    color: #007bff; /* Deixa o texto azul */
}


.path:hover {
    color: #007bff;
}

.question img:hover {
    opacity: 60%; 
}
